@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr: #ededed;
    --clrr:#081b29;
    --clrrr:#00abf0;
}

body {
    background: #081b29;
    color: var(--clr);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: var(--clr);
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: var(--clr);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--clrrr);
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0px 40px;
}

.home-content .btn-box {
    width: 150px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid var(--clrrr);
    border-radius: 8px;
    font-size: 19px;
    color: var(--clrrr);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: var(--clrr);
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--clrrr);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 20vh;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--clrrr);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color: var(--clrrr);
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover {
    color: var(--clrr);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--clrrr);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.pfp img {
    position: absolute;
    top: 31vh;
    right: 19vh;
    border-radius: 50%;
    box-shadow: 0 0 30px var(--clrrr);
    transition: .5s;
}

.home-content span {
    color: var(--clrrr);
    font-size: 35px;
    text-shadow: 0 0 10px #00abf0;
    font-weight: 700;
}

.pfp img:hover {
    transform: scale(1.3);
}